// Accordion
.accordion {
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 0;
      border-top: $accordion-styles;
      //@include transition((max-height $speed ease-in-out, color $speed ease-in-out, background $speed ease-in-out));
      @include transition((all $speed ease-in-out));
      // max-height: 62px;
      overflow: hidden;
      position: relative;
      .accordion-content {
        max-height: 0;
        @include opacity(0);
        // @include transition((max-height $slow*2 ease-in-out, opacity $slow*2 ease-in-out));
        @include transition(all $slow ease-in-out);
        > div {
          padding-bottom: 1em;
        }
      }
      .accordion-title {
        width: 90%;
        cursor: pointer;
        display: block;
        padding: 1em 0 .8em;
        margin: 0;
        font-size: 1.25em;
        @include transition((color $speed ease-in-out, background $speed ease-in-out));
        @include clearfix();
        .icon {
          float: right;
          margin-top: 3px;
          margin-bottom: 0px;
        }
      }
      .icon {
        display: block;
        position: absolute;
        width: 16px;
        height: 2px;
        background-color: $text-color;
        right: 0;
        top: 33px;
        @include transition((transform $speed ease-in-out, background $speed ease-in-out));
        span {
          display: block;
          position: absolute;
          width: 2px;
          height: 16px;
          left: 7px;
          top: -7px;
          background-color: $text-color;
          @include transition(background $speed ease-in-out);
        }
      }
      &:last-child,
      &.last-child {
        border-bottom: $accordion-styles;
      }
      &:hover {
        .accordion-title {
          color: $primary-color;
        }
        .icon,
        .icon span {
          background-color: $primary-color;
        }
      }

      &.open {
        .accordion-content {
          @include opacity(1);
          // max-height: 50em;
          max-height: 100%;
        }
        .accordion-title {
          color: $primary-color;
        }
        .icon {
          @include transform(rotate(135deg));
          background-color: $primary-color;
          span {
            background-color: $primary-color;
          }
        }
      } // end .open
  
    } // end li
  } // end ul
} // end .accordion