@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

@font-face {
  font-family: 'Graphik';
  src:  url("../fonts/graphik-web/graphik-web-light.eot");
  src:  url("../fonts/graphik-web/graphik-web-light.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/graphik-web/graphik-web-light.woff") format("woff"), 
        url("../fonts/graphik-web/graphik-web-light.ttf") format("truetype"), 
        url("../fonts/graphik-web/graphik-web-light.svg#graphik-light") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src:  url("../fonts/graphik-web/graphik-web-regular.eot");
  src:  url("../fonts/graphik-web/graphik-web-regular.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/graphik-web/graphik-web-regular.woff") format("woff"), 
        url("../fonts/graphik-web/graphik-web-regular.ttf") format("truetype"), 
        url("../fonts/graphik-web/graphik-web-regular.svg#graphik-reg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src:  url("../fonts/graphik-web/graphik-web-medium.eot");
  src:  url("../fonts/graphik-web/graphik-web-medium.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/graphik-web/graphik-web-medium.woff") format("woff"), 
        url("../fonts/graphik-web/graphik-web-medium.ttf") format("truetype"), 
        url("../fonts/graphik-web/graphik-web-medium.svg#graphik-med") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src:  url("../fonts/graphik-web/graphik-web-bold.eot");
  src:  url("../fonts/graphik-web/graphik-web-bold.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/graphik-web/graphik-web-bold.woff") format("woff"), 
        url("../fonts/graphik-web/graphik-web-bold.ttf") format("truetype"), 
        url("../fonts/graphik-web/graphik-web-bold.svg#graphik-bold") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src:  url("../fonts/graphik-web/graphik-web-bold-italic.eot");
  src:  url("../fonts/graphik-web/graphik-web-bold-italic.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/graphik-web/graphik-web-bold-italic.woff") format("woff"), 
        url("../fonts/graphik-web/graphik-web-bold-italic.ttf") format("truetype"), 
        url("../fonts/graphik-web/graphik-web-bold-italic.svg#graphik-bold-italic") format("svg");
  font-weight: 900;
  font-style: italic;
}