// Header
header {

  nav {
    > ul {
      padding: 0;
      list-style: none;
      
      > li {
        line-height: 16px;
        display: inline-block;
        position: relative;
        background-color: transparent;
        margin-bottom: 0;
        @include transition((color $speed ease-in-out, background $speed ease-in-out));
        
        &:hover,
        &:focus {
          > a {
            color: $nav-hover-color;
            border-color: $primary-color;
          }
        }
        
        a {
          display: block;
          &:hover,
          &:focus {
            color: $nav-hover-color;
          }
        }
        
        > div,
        > a {
          cursor: pointer;
          color: $nav-color;
          padding: 10px;
        }

        &.active,
        &.active > a,
        &.active > div {
          color: $nav-hover-color;
          @include respond($md) {
            border-color: $text-color;
          }
        }

        // Dropdowns
        > ul {
          visibility: hidden;
          @include opacity(0);
          position: absolute;
          z-index: 9;
          background-color: $bg-color;
          padding: 5px 0;
          min-width: 150px;
          top: 100%;
          left: -15px;
          list-style: none;
          text-align: left;
          @include transition((opacity $fast ease-in-out, visibility $fast ease-in-out));
          @include border-radius(0 $input-border-radius $input-border-radius $input-border-radius);
          @include box-shadow(0px, 0, 10px, rgba(0,0,0,.2));
          > li {
            margin-bottom: 0;
          }
        }

      } // End nav > li
    }
  } // End header nav
}