.opener p em {
  font-family: 'Source Code Pro', monospace;
  background-color: #e1e8ff;
  font-weight: 400;
}

code {
  font-family: 'Source Code Pro', monospace;
  color: $primary-color;
  font-weight: 400;
}

.inline-grid li img + em,
.inline-grid div img + em {
  text-align: left;
  margin-top: .5em;
  margin-bottom: 1em;
  display: block;
}

.hyper-icon-row {
  list-style: none;
  padding: 0;
  & li {
    display: inline-block;
  }
}

a.tooltip {
  background-color: transparent;
  @include border-radius(50%);
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 40px;
  height: 40px;
  position: relative;
  &:hover {
    background-color: #dfdfdf;
  }
  & .icon {
    @include vertical-center();
  }
  @include respond($lg) {
    &:after {
      position: absolute;
      content: attr(title);
      bottom: 45px;
      background-color: #333;
      @include border-radius($input-border-radius);
      color: #fff;
      font-size: 14px;
      left: 50%;
      padding: 0 7px;
      @include transform(translateX(-50%));
      visibility: hidden;
      @include opacity(0);
      @include transition((opacity $speed ease-in-out, visibility $speed ease-in-out));
    }
    &:hover:after {
      visibility: visible;
      @include opacity(1);
    }
  }
}

section {
  padding-top: (100% - $site-width)/2;
  padding-bottom: (100% - $site-width)/2;
  + section {
    padding-top: 0;
  }
}

.hyper-grid {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  @include respond($md) {
    display: block;
  }
  .row {
    .col,
    [class^="col-"] {
      padding-bottom: 0 !important;
      height: 100%;
      .placeholder {
        opacity: .1;
        background-color: $text-color;
        margin-bottom: 0;
        height: 100%;
        width: 100%;
        display: block;
      }
    }
  }
}

#page {
  position: relative;
  z-index: 1;
}

// Animation Examples
.hyper-animation {
    position: relative;
    background-color: lighten($text-color, 78%);
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col,
[class^="col-"] {
  .hyper-animation {
    height: 400px;
  }
}

// Splash Area
.full-window-height {
  background-color: $text-color;
  color: $light-text-color;
  code {
    color: $bg-color;
  }
}