// Vertical Center
.vertical-center {
  position: absolute;
  z-index: 1000;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.vertical-center > div.table {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}

.vertical-center > div > div.table-cell {
  display: table-cell;
  vertical-align: middle;
}

// Opener

.full-window-height {
  overflow: hidden;
  position: relative;
  height: 100vh;
}