@import "reset";
@import "variables";
@import "mixins";
@import "animations";
@import "style-static";
@import "grid";
@import "typography";
@import "header";
@import "footer";
@import "forms";
@import "buttons-icons";
@import "fajax";
@import "tables";
@import "slideshows";
@import "accordion";
@import "splash-area";
@import "hypersite"; // Remove for production

// General 

html { 
  min-height: 100%;
  max-height: 100%;
}

body {
  background-color: $bg-color;
  min-height: 100%; 
  overflow-y: hidden;
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
  @include transition (opacity $speed);
  border: none;
  outline: none;
}

#content {
  min-height: 600px;
}

.container {
  margin: 0 auto;
  width: $site-width;
  max-width: $max-site-width;
  position: relative;
}

// Image Links
a:hover img,
a:focus img {
  @include opacity();
  border: none;
  outline: none;
}